.nav{
    display: flex;
    justify-content: space-around;
}
.nav h1{
    font-size: 40PX;
     color: BLUEVIOLET;
     margin-top: 20px;
 
}
.nav ul{
    

    display: inline-flex;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    padding-right: 80px;

}
.nav ul a{
    

  text-decoration: none;
  color: blueviolet;
  cursor:pointer
}
.nav li{
    padding:15%;
    padding-top: 15%;
    
     
}
.nav li a{
    text-decoration: none;
    color:blueviolet;
}
.nav-search {
    display: flex;
    align-items: center;
  }
  
  .nav input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
  }
  
  .button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 4px;
    cursor: pointer;
  }
  h1 a{
    color:blueviolet;
    text-decoration: none;
    cursor: grab;
    
  }
  .suggested-result{
    position: absolute;
      display: list-item!important;
     width: 200px;
     top: 60px;
     border: 1px solid #ddd;
    z-index: 10;
    background: #ddd;
  }
  .suggested-result li{
    border:1px solid black;
    padding:5px;
    width:200px;
  }
  .suggested-result li a{
    cursor:pointer;
    color: blueviolet;
  }