<nav class="nav">
<h1><a routerLink="/"> E-COMM</a></h1>
<div *ngIf="menuType==='default'" class="nav-search">
    <input type="text" #searchInput (keyup)="searchProduct($event)" (blur)="hideSearch()" placeholder="search for product"/>
    <button  (click)="submitSearch(searchInput.value)"class="button">Search</button>
    <ul class="suggested-result" *ngIf="searchResult">
    <li *ngFor="let item of searchResult" >
         <a (mousedown)="redirectToDetails(item.id)">{{item.name}}</a>
    </li>
</ul>
</div>
<div [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'" >
    <li ><a routerLink="">Home </a></li>
    <li><a routerLink="seller-auth">Seller</a></li>
    <li><a routerLink="user-auth">Login/signup </a></li>
    <li><a href="a">cart({{cardItems}}) </a></li>
    </ul>
    <ul *ngSwitchCase="'user'">
    <li ><a routerLink="">Home </a></li>
    <li><a routerLink="seller-auth">Seller</a></li>
    <li><a routerLink="user-auth">{{userName|titlecase}}</a></li>
    <li><a (click)="userLogout()">Logout</a></li>
    <li><a href="a">cart({{cardItems}})</a></li>
    </ul>
    <ul *ngSwitchCase="'seller'" >
        <li ><a routerLink="seller-home">ProductList </a></li>
        <li><a routerLink="seller-add-product">Addproduct</a></li>
        <li><a href="a">{{sellerName|titlecase}}</a></li>
        <li><a (click)="Logout()" >Logout </a></li>
       
        </ul>
        
</div>
</nav>
